<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500;600;700;800;900&display=swap"/>
    <link rel="stylesheet" href="../assets/css/estilos.css" />

    <style>
        A:link {color: white; text-decoration: none;}
        A:hover {color: white; text-decoration: none;}
        A:visited {color: white; text-decoration: none;}
      </style>

    <title>3ra ENTREGA - GABRIELA LUPIDI</title>
  </head>
  <body background="../multimedia/fondo.jpg">
    <div>
      <!--BARRA DE MENÚ-->
      <nav>
        <ul class="menu">
          <li><a href="../index.html">Inicio</a></li>
          <li><a href="../views/categorias.html">Categorías</a></li>
          <li><a href="../views/trivia.html">Trivia</a></li>
        </ul>
      <!--LOGO DEL MENÚ-->
        <div class="logo">
          <span style="--l: 'C'">C</span>
          <span style="--l: 'I'">I</span>
          <span style="--l: 'N'">N</span>
          <span style="--l: 'E'">E</span>
          <span style="--l: 'T'">T</span>
          <span style="--l: 'E'">E</span>
          <span style="--l: 'C'">C</span>
          <span style="--l: 'A'">A</span>
        </div>
        <ul class="menu2">
          <li><a href="../views/usuarios.html">Ingresar</a></li>
          <li><a href="../views/usuarios.html">Registrarse</a></li>
        </ul>
      </nav>
    </div>
      <!--CATEGORÍAS DE PELÍCULAS-->
    <h1 class="titulosGeneros">CATEGORÍAS PELICULAS</h1>

    <section class="categoriasGenero">
      <div class="contenedorGenero">
        <h3 class="textoGenero">Acción</h3>
        <div class="caratulasGenero">
          <img src="../multimedia/peliculas/accion/1.jpg" alt="caratulaPelis" />
          <img src="../multimedia/peliculas/accion/2.jpg" alt="caratulaPelis" />
          <img src="../multimedia/peliculas/accion/3.jpg" alt="caratulaPelis" />
          <img src="../multimedia/peliculas/accion/4.jpg" alt="caratulaPelis" />
          <img src="../multimedia/peliculas/accion/5.jpg" alt="caratulaPelis" />
          <img src="../multimedia/peliculas/accion/6.jpg" alt="caratulaPelis" />
          <img src="../multimedia/peliculas/accion/7.jpg" alt="caratulaPelis" />
          <img src="../multimedia/peliculas/accion/8.jpg" alt="caratulaPelis" />
        </div>
      </div>
      <div class="contenedorGenero">
        <h3 class="textoGenero">Animada</h3>
        <div class="caratulasGenero">
          <img src="../multimedia/peliculas/animada/1.jpg" alt="caratulaPelis" />
          <img src="../multimedia/peliculas/animada/2.jpg" alt="caratulaPelis" />
          <img src="../multimedia/peliculas/animada/3.jpg" alt="caratulaPelis" />
          <img src="../multimedia/peliculas/animada/4.jpg" alt="caratulaPelis" />
          <img src="../multimedia/peliculas/animada/5.jpg" alt="caratulaPelis" />
          <img src="../multimedia/peliculas/animada/6.jpg" alt="caratulaPelis" />
          <img src="../multimedia/peliculas/animada/7.jpg" alt="caratulaPelis" />
          <img src="../multimedia/peliculas/animada/8.jpg" alt="caratulaPelis" />
        </div>
      </div>
      <div class="contenedorGenero">
        <h3 class="textoGenero">Aventura</h3>
        <div class="caratulasGenero">
          <img src="../multimedia/peliculas/aventura/1.jpg" alt="caratulaPelis" />
          <img src="../multimedia/peliculas/aventura/2.jpg" alt="caratulaPelis" />
          <img src="../multimedia/peliculas/aventura/3.jpg" alt="caratulaPelis" />
          <img src="../multimedia/peliculas/aventura/4.jpg" alt="caratulaPelis" />
          <img src="../multimedia/peliculas/aventura/5.jpg" alt="caratulaPelis" />
          <img src="../multimedia/peliculas/aventura/6.jpg" alt="caratulaPelis" />
          <img src="../multimedia/peliculas/aventura/7.jpg" alt="caratulaPelis" />
          <img src="../multimedia/peliculas/aventura/8.jpg" alt="caratulaPelis" />
        </div>
      </div>
      <div class="contenedorGenero">
        <h3 class="textoGenero">Ciencia Ficción</h3>
        <div class="caratulasGenero">
          <img src="../multimedia/peliculas/cienciaFiccion/1.jpg" alt="caratulaPelis" />
          <img src="../multimedia/peliculas/cienciaFiccion/2.jpg" alt="caratulaPelis" />
          <img src="../multimedia/peliculas/cienciaFiccion/3.jpg" alt="caratulaPelis" />
          <img src="../multimedia/peliculas/cienciaFiccion/4.jpg" alt="caratulaPelis" />
          <img src="../multimedia/peliculas/cienciaFiccion/5.jpg" alt="caratulaPelis" />
          <img src="../multimedia/peliculas/cienciaFiccion/6.jpg" alt="caratulaPelis" />
          <img src="../multimedia/peliculas/cienciaFiccion/7.jpg" alt="caratulaPelis" />
        </div>
      </div>
      <div class="contenedorGenero">
        <h3 class="textoGenero">Comedia</h3>
        <div class="caratulasGenero">
          <img src="../multimedia/peliculas/comedia/1.jpg" alt="caratulaPelis" />
          <img src="../multimedia/peliculas/comedia/2.jpg" alt="caratulaPelis" />
          <img src="../multimedia/peliculas/comedia/3.jpg" alt="caratulaPelis" />
          <img src="../multimedia/peliculas/comedia/4.jpg" alt="caratulaPelis" />
        </div>
      </div>
      <div class="contenedorGenero">
        <h3 class="textoGenero">Drama</h3>
        <div class="caratulasGenero">
          <img src="../multimedia/peliculas/drama/1.jpg" alt="caratulaPelis" />
          <img src="../multimedia/peliculas/drama/2.jpg" alt="caratulaPelis" />
          <img src="../multimedia/peliculas/drama/3.jpg" alt="caratulaPelis" />
          <img src="../multimedia/peliculas/drama/4.jpg" alt="caratulaPelis" />
          <img src="../multimedia/peliculas/drama/5.jpg" alt="caratulaPelis" />
          <img src="../multimedia/peliculas/drama/6.jpg" alt="caratulaPelis" />
        </div>
      </div>
      <div class="contenedorGenero">
        <h3 class="textoGenero">Románticas</h3>
        <div class="caratulasGenero">
          <img src="../multimedia/peliculas/romanticas/1.jpg" alt="caratulaPelis" />
          <img src="../multimedia/peliculas/romanticas/2.jpg" alt="caratulaPelis" />
          <img src="../multimedia/peliculas/romanticas/3.jpg" alt="caratulaPelis" />
          <img src="../multimedia/peliculas/romanticas/4.jpg" alt="caratulaPelis" />
          <img src="../multimedia/peliculas/romanticas/5.jpg" alt="caratulaPelis" />
          <img src="../multimedia/peliculas/romanticas/6.jpg" alt="caratulaPelis" />
        </div>
      </div>
      <div class="contenedorGenero">
        <h3 class="textoGenero">Suspenso</h3>
        <div class="caratulasGenero">
          <img src="../multimedia/peliculas/suspenso/1.jpg" alt="caratulaPelis" />
          <img src="../multimedia/peliculas/suspenso/2.jpg" alt="caratulaPelis" />
          <img src="../multimedia/peliculas/suspenso/3.jpg" alt="caratulaPelis" />
          <img src="../multimedia/peliculas/suspenso/4.jpg" alt="caratulaPelis" />
          <img src="../multimedia/peliculas/suspenso/5.jpg" alt="caratulaPelis" />
          <img src="../multimedia/peliculas/suspenso/6.jpg" alt="caratulaPelis" />
        </div>
      </div>
      <div class="contenedorGenero">
        <h3 class="textoGenero">Terror</h3>
        <div class="caratulasGenero">
          <img src="../multimedia/peliculas/terror/1.jpg" alt="caratulaPelis" />
          <img src="../multimedia/peliculas/terror/2.jpg" alt="caratulaPelis" />
          <img src="../multimedia/peliculas/terror/3.jpg" alt="caratulaPelis" />
          <img src="../multimedia/peliculas/terror/4.jpg" alt="caratulaPelis" />
          <img src="../multimedia/peliculas/terror/5.jpg" alt="caratulaPelis" />
          <img src="../multimedia/peliculas/terror/6.jpg" alt="caratulaPelis" />
          <img src="../multimedia/peliculas/terror/7.jpg" alt="caratulaPelis" />
        </div>
      </div>
    </section>

    <div class="linkCatalogo">
        <a href="../views/catSeries.html">Ir a Catálogo de Series</a>
    </div>
      <!--PIE DE PÁGINA-->
    <footer>PROYECTO FINAL - JAVASCRIPT - GABRIELA LUPIDI</footer>
  </body>
</html>
