<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500;600;700;800;900&display=swap"/>
    <link rel="stylesheet" href="../assets/css/estilos.css" />

    <style>
        A:link {color: white; text-decoration: none;}
        A:hover {color: white; text-decoration: none;}
        A:visited {color: white; text-decoration: none;}
      </style>

    <title>3ra ENTREGA - GABRIELA LUPIDI</title>
  </head>
  <body background="../multimedia/fondo.jpg">
    <div>
      <!--BARRA DE MENÚ-->
      <nav>
        <ul class="menu">
          <li><a href="../index.html">Inicio</a></li>
          <li><a href="../views/categorias.html">Categorías</a></li>
          <li><a href="../views/trivia.html">Trivia</a></li>
        </ul>
        <!--LOGO DEL MENÚ-->
        <div class="logo">
          <span style="--l: 'C'">C</span>
          <span style="--l: 'I'">I</span>
          <span style="--l: 'N'">N</span>
          <span style="--l: 'E'">E</span>
          <span style="--l: 'T'">T</span>
          <span style="--l: 'E'">E</span>
          <span style="--l: 'C'">C</span>
          <span style="--l: 'A'">A</span>
        </div>
        <ul class="menu2">
          <li><a href="../views/usuarios.html">Ingresar</a></li>
          <li><a href="../views/usuarios.html">Registrarse</a></li>
        </ul>
      </nav>
    </div>
      <!--CATEGORÍAS DE SERIES-->
    <h1 class="titulosGeneros">CATEGORÍAS SERIES</h1>

    <section class="categoriasGenero">
      <div class="contenedorGenero">
        <h3 class="textoGenero">Acción</h3>
        <div class="caratulasGenero">
          <img src="../multimedia/series/accion/1.jpg" alt="caratulaSeries" />
          <img src="../multimedia/series/accion/2.jpg" alt="caratulaSeries" />
          <img src="../multimedia/series/accion/3.jpg" alt="caratulaSeries" />
          <img src="../multimedia/series/accion/4.jpg" alt="caratulaSeries" />
        </div>
      </div>
      <div class="contenedorGenero">
        <h3 class="textoGenero">Animada</h3>
        <div class="caratulasGenero">
          <img src="../multimedia/series/animada/1.jpg" alt="caratulaSeries" />
          <img src="../multimedia/series/animada/2.jpg" alt="caratulaSeries" />
          <img src="../multimedia/series/animada/3.jpg" alt="caratulaSeries" />
          <img src="../multimedia/series/animada/4.jpg" alt="caratulaSeries" />
          <img src="../multimedia/series/animada/5.jpg" alt="caratulaSeries" />
        </div>
      </div>
      <div class="contenedorGenero">
        <h3 class="textoGenero">Aventura</h3>
        <div class="caratulasGenero">
          <img src="../multimedia/series/aventura/1.jpg" alt="caratulaSeries" />
          <img src="../multimedia/series/aventura/2.jpg" alt="caratulaSeries" />
          <img src="../multimedia/series/aventura/3.jpg" alt="caratulaSeries" />
          <img src="../multimedia/series/aventura/4.jpg" alt="caratulaSeries" />
        </div>
      </div>
      <div class="contenedorGenero">
        <h3 class="textoGenero">Ciencia Ficción</h3>
        <div class="caratulasGenero">
          <img src="../multimedia/series/cienciaFiccion/1.jpg" alt="caratulaSeries" />
          <img src="../multimedia/series/cienciaFiccion/2.jpg" alt="caratulaSeries" />
          <img src="../multimedia/series/cienciaFiccion/3.jpg" alt="caratulaSeries" />
          <img src="../multimedia/series/cienciaFiccion/4.jpg" alt="caratulaSeries" />
          <img src="../multimedia/series/cienciaFiccion/5.jpg" alt="caratulaSeries" />
          <img src="../multimedia/series/cienciaFiccion/6.jpg" alt="caratulaSeries" />
        </div>
      </div>
      <div class="contenedorGenero">
        <h3 class="textoGenero">Comedia</h3>
        <div class="caratulasGenero">
          <img src="../multimedia/series/comedia/1.jpg" alt="caratulaSeries" />
          <img src="../multimedia/series/comedia/2.jpg" alt="caratulaSeries" />
          <img src="../multimedia/series/comedia/3.jpg" alt="caratulaSeries" />
          <img src="../multimedia/series/comedia/4.jpg" alt="caratulaSeries" />
          <img src="../multimedia/series/comedia/5.jpg" alt="caratulaSeries" />
        </div>
      </div>
      <div class="contenedorGenero">
        <h3 class="textoGenero">Drama</h3>
        <div class="caratulasGenero">
          <img src="../multimedia/series/drama/1.jpg" alt="caratulaSeries" />
          <img src="../multimedia/series/drama/2.jpg" alt="caratulaSeries" />
          <img src="../multimedia/series/drama/3.jpg" alt="caratulaSeries" />
          <img src="../multimedia/series/drama/4.jpg" alt="caratulaSeries" />
          <img src="../multimedia/series/drama/5.jpg" alt="caratulaSeries" />
        </div>
      </div>
      <div class="contenedorGenero">
        <h3 class="textoGenero">Románticas</h3>
        <div class="caratulasGenero">
          <img src="../multimedia/series/romanticas/1.jpg" alt="caratulaSeries" />
          <img src="../multimedia/series/romanticas/2.jpg" alt="caratulaSeries" />
          <img src="../multimedia/series/romanticas/3.jpg" alt="caratulaSeries" />
          <img src="../multimedia/series/romanticas/4.jpg" alt="caratulaSeries" />
        </div>
      </div>
      <div class="contenedorGenero">
        <h3 class="textoGenero">Suspenso</h3>
        <div class="caratulasGenero">
          <img src="../multimedia/series/suspenso/1.jpg" alt="caratulaSeries" />
          <img src="../multimedia/series/suspenso/2.jpg" alt="caratulaSeries" />
          <img src="../multimedia/series/suspenso/3.jpg" alt="caratulaSeries" />
          <img src="../multimedia/series/suspenso/4.jpg" alt="caratulaSeries" />
          <img src="../multimedia/series/suspenso/5.jpg" alt="caratulaSeries" />
        </div>
      </div>
      <div class="contenedorGenero">
        <h3 class="textoGenero">Terror</h3>
        <div class="caratulasGenero">
          <img src="../multimedia/series/terror/1.jpg" alt="caratulaSeries" />
          <img src="../multimedia/series/terror/2.jpg" alt="caratulaSeries" />
          <img src="../multimedia/series/terror/3.jpg" alt="caratulaSeries" />
          <img src="../multimedia/series/terror/4.jpg" alt="caratulaSeries" />
          <img src="../multimedia/series/terror/5.jpg" alt="caratulaSeries" />
        </div>
      </div>
    </section>

    <div class="linkCatalogo">
        <a href="../views/catPelis.html">Ir a Catálogo de Películas</a>
    </div>
      <!--PIE DE PÁGINA-->
    <footer>PROYECTO FINAL - JAVASCRIPT - GABRIELA LUPIDI</footer>
  </body>
</html>